name: Deploy to shinyapps.io

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.11
          activate-environment: gallery-labels
          environment-file: environment.yml
          channels: conda-forge
          cache-path: ~/.conda/envs/gallery-labels # cache the environment
          cache-name: gallery-labels

      - name: Deploy to shinyapps.io
        shell: bash -l {0}
        env:
          SHINYAPPS_ACCOUNT: ${{ secrets.SHINYAPPS_ACCOUNT }}
          SHINYAPPS_TOKEN: ${{ secrets.SHINYAPPS_TOKEN }}
          SHINYAPPS_SECRET: ${{ secrets.SHINYAPPS_SECRET }}
        run: |
          rsconnect add \
            --name shinyapps \
            --server shinyapps.io \
            --account $SHINYAPPS_ACCOUNT \
            --token $SHINYAPPS_TOKEN \
            --secret $SHINYAPPS_SECRET

          rsconnect deploy shiny src --force
