name: Deploy to shinyapps.io

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.11
          activate-environment: gallery-labels
          environment-file: environment.yml

      - name: Cache conda packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.conda/pkgs
            ~/.conda/envs/gallery-labels
          key: ${{ runner.os }}-conda-${{ hashFiles('environment.yml') }}
          restore-keys: |
            ${{ runner.os }}-conda-

      - name: Deploy to shinyapps.io
        shell: bash -l {0}
        env:
          SHINYAPPS_TOKEN: ${{ secrets.SHINYAPPS_TOKEN }}
          SHINYAPPS_SECRET: ${{ secrets.SHINYAPPS_SECRET }}
        run: |
          rsconnect add \
            --name shinyapps \
            --server shinyapps.io \
            --token $SHINYAPPS_TOKEN \
            --secret $SHINYAPPS_SECRET

          rsconnect deploy shiny src --name harrisonlee0530 --title gallery-labels
